h1{
    border-radius: 10px;
    background-color: aquamarine;
    text-align: center;
}
pre{
    border: 1px solid black;
    border-radius: 20px;
    text-align: center;
    margin: auto;
    width: 60%;
}